*, *:before, *:after {
    box-sizing: border-box; 
  }
  html {
    font-size: 62.5%;
  }
  body {
    color: #444;
    background-color: hsl(0, 0%, 96%);
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  h1 {
    font-size: 1.8rem;
  }
  
  